.signup__container{
    width:1400px;
    max-width: 100%;
    padding:15px;
    margin:5px auto;
}

.signup{
    display: flex;
}

.signup__form{
    border-left:1px solid #777;
    width:35%;
    margin-left:21px;
    padding-left: 5px;
}

.signup__form form{
    max-width: 100%;
    width:320px;
    margin:0 auto;
}

.signup__form label{
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.4em;
}

.signup__img{
    width:65%;
}

.signup__img img{
    width:100%;
    vertical-align: middle;
    height: 100%;
}

form .form__control{
    margin:15px 0;
}

form .form__title{
    font-size:1.7rem;
    font-weight: 700;
}

.signup__form input,button{
    width: 100%;
}

.signup__form input{
    padding:10px 7px;
    font-size: 1rem;
    opacity: 0.9;
    border:2px #777 solid;
    outline: none;
}

.signup__form input:focus{
    border:1p solid rgba(105, 104, 104, 0.1);
    opacity: 0.7;
}

.form__link{
    margin-top:5px
}

@media  screen and (max-width:1000px) {
    .signup__img{
        width: 50%;
    }

    .signup__form{
        width:50%;
    }
}

@media  screen and (max-width:710px) {
    .signup
    {
        display: block;
    }

    .signup__img{
        display: none;
    }

    .signup__form{
        width: 80%;
    }

}
